<ion-view cache-view="false" view-title="Prayer Focus 2018" name="prayerfocus-view">

	<div class="bar bar-subheader">
		<div class="title" style="margin-top: 5px;"><span ng-if="dayNumber>1"><button ng-click="previous()" class="button button-calm ion-ios-rewind"></button></span>
			<button class="button button-light"> {{current.title|uppercase}}</button>
			<span ng-if="dayNumber<12"><button ng-click="next()" class="button  button-calm ion-ios-fastforward"> </button></span>
		</div>
	</div>

	<ion-pane>
		<ion-content scroll="true" ng-class="fontSize" class="has-subheader">
			<section>
				<div class="row col padding">
					<!--<h4 style="text-transform: capitalize; text-align: center">{{current.title}}</h4>-->
					<p style=" line-height:25px; padding: 5px 15px 5px 15px;" ng-bind-html="current.message"></p>
					<p style="padding: 5px 15px 20px 15px;"></p>
				</div>
			</section>
		</ion-content>
	</ion-pane>

	<div class="tabs-striped tabs-color-light tabs-background-dark" style="padding: 0">
		<div class="tabs">
			<a class="tab-item"  ng-click="decrease()" style="color: white">
				<i class="icon ion-minus-round"></i>
				Decrease
			</a>
			<a class="tab-item" ng-click="increase()" style="color: white">
				<i class="icon ion-plus-round"></i>
				Increase
			</a>
		</div>
	</div>
</ion-view>